body  {
  margin: 0 auto 0 auto;;
  width: 800px;
  padding: 2em;
}

pre  {
  margin: 4em;
  padding: 1em;
  border: 2px solid black;
  background: #ccc;
}

li {
  margin-top: 1em;
}

h3  {
    background: #eee;
    padding: 3px;

}

h4  {
  margin: 0px;
}
